:root {
    --pwhite: #f8e3c4;
    --ppink: #cc3495;
    --ppurple: #6b1fb1;
    --pblack: #0b0630;
    color: var(--pwhite);
    font-family: sans-serif;
  }

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, var(--pblack) 25%, var(--ppurple) 100%);
}
header {
    height: 10vh;
    display: grid;
    justify-content: center;
    margin: 0 12.5vw 0 12.5vw;
    border-bottom: 2px solid var(--pwhite);
}
main {
    font-size: 4vw;
    width: 99vw;
}
.container {
    height: 82vh;
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas:
    "player1 game-grid player2"
    ". restart-button .";
    gap: 1vw;
    align-items: center; 
    justify-content: center;
}
#player1 {
    grid-area: player1;
}
#player2 {
    grid-area: player2;
}
#game-grid {
    justify-self: center;
    grid-area: game-grid;
    display: grid;
    height: 30vw;
    width: 30vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5vw;
    padding: 0 0;
    background-color: var(--ppurple);
}
#restart-button-cont {
  grid-area: restart-button;
  display: grid;
  justify-content: center;
}

.player-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.player-box {
    text-align: center;
    border-radius: 20px;
    background-color: var(--ppurple);
    border: 1px solid var(--pwhite);
    padding: 10vh 0;
    margin: 0 2vw;
}
#restart-btn {
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  background-color: var(--pblack);
  border: 1px solid var(--pwhite);
  color: var(--pwhite);
  padding: 3vh 5vw;
  outline: none;
}
.game-grid-square {
    display: flex;
    background-color: var(--pblack);
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.current-turn {
  box-shadow: var(--pwhite) 0px 30px 40px,var(--pwhite) 0px -12px 30px, var(--pwhite) 0px 4px 6px, var(--pwhite) 0px 12px 13px, var(--pwhite) 0px -3px 5px;
}

@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 1fr;
        grid-template-areas:
        "game-grid game-grid"
        "player1 player2"
        "restart-button restart-button";
    }
    .player-box {
        padding: 3vh 0;
        margin: 1vh 1vw;
    }
    #game-grid {
    height: 50vw;
    width: 50vw;
    margin-top: 5vh;
    }
    .game-grid-square {
        font-size: 24px;
    }
}